<div>
  <div>
    <h1>
      Cocktail like #<%= @the_cocktail_like.id %> details
    </h1>

    <div>
      <div>
        <a href="/cocktail_likes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_cocktail_like/<%= @the_cocktail_like.id %>">
          Delete cocktail like
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Cocktail
      </dt>
      <dd>
        <%= @the_cocktail_like.cocktail_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_cocktail_like.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_cocktail_like.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_cocktail_like.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit cocktail like
    </h2>

    <form action="/modify_cocktail_like/<%= @the_cocktail_like.id %>"  method="post" >
      <div>
        <label for="cocktail_id_box">
          Cocktail
        </label>

        <input type="text" id="cocktail_id_box" name="query_cocktail_id" value="<%= @the_cocktail_like.cocktail_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_cocktail_like.user_id %>">
      </div>

      <button>
        Update cocktail like
      </button>
    </form>
  </div>
</div>

<hr>
