<div>
  <div>
    <h1>
      Cocktail details
    </h1>

    <div>
      <div>
        <a href="/cocktails">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Cocktail name
      </dt>
      <dd>
        <%= @the_cocktail.cocktail_name %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_cocktail.image_url.url %>" width="200" height="300">
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_cocktail.description %>
      </dd>

      <dt>
        Ingredients
      </dt>
      <dd>
        <% @the_cocktail.cocktail_ingredients.includes(:ingredient).each do |a_ingredient| %>
          <li><%= "#{a_ingredient.ingredient.name} – #{a_ingredient.unit_ml} ml" %></li>
        <% end %>
      </dd>

      <dt>
        Instructions
      </dt>
      <dd>
        <%= @the_cocktail.instructions %>
      </dd>

      <dt>
        Abv
      </dt>
      <dd>
        <%= @the_cocktail.abv %>
      </dd>

      <dt>
        Taste
      </dt>
      <dd>
        <%= @the_cocktail.taste %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_cocktail.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_cocktail.likes.count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_cocktail.comments.count %>
      </dd>

      <dt>
        Creator
      </dt>
      <dd>
        <% @the_user = @the_cocktail.user %>
        <%= @the_user.username %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <%= "Liked by: " + @the_cocktail.likes.map { |like| like.user.username }.join(', ') %>
      </dd>


      <dt>Add a fan</dt>
      <dd>
        <% existing_like = @the_cocktail.likes.find_by(user_id: current_user.id) %>

        <% if existing_like %>
          <form action="/delete_cocktail_like/<%= existing_like.id %>" method="get">
            <button>Unlike</button>
          </form>
        <% else %>
          <form action="/insert_cocktail_like" method="post">
            <input type="hidden" name="query_cocktail_id" value="<%= @the_cocktail.id %>">
            <input type="hidden" name="query_user_id"    value="<%= current_user.id %>">
            <button>Like</button>
          </form>
        <% end %>
      </dd>

       <% if current_user = @the_user %>
        <dt>Delete cocktail</dt>
        <dd>
          <a href="/delete_cocktail/<%= @the_cocktail.id %>">Delete this cocktail</a>
        </dd>
      <% end %>

    </dl>
  </div>
</div>

<hr>

<h2>Comments</h2>

<table border="1">
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>
  
  <% @the_cocktail.comments.each do |a_comment| %>
    <tr>
      <td><%= a_comment.user.username %></td>
      <td><%= a_comment.comment_text %></td>
      <td><%= a_comment.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>  
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_cocktail_comment" method="post">
  <input type="hidden" name="query_cocktail_id" value="<%= @the_cocktail.id %>">
  <input type="hidden" name="query_user_id" value="<%= current_user.id %>">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
