<div>
  <div>
    <h1>
      List of all users
    </h1>
  </div>
</div>


<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Username
        </th>

        <th>
          Bio
        </th>

        <th>
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.username %>
        </td>

        <td>
          <%= a_user.bio %>
        </td>
      

      <td>
        <% if current_user != a_user %>
          <% follow = FollowRequest.find_by(sender_id: current_user.id, recipient_id: a_user.id) %>

          <% if follow.present? %>
            <form action="/follow_requests/<%= follow.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <button>Unfollow</button>
            </form>
          <% else %>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_sender_id" value="<%= current_user.id %>">
              <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
              <input type="hidden" name="redirect_to" value="/users/<%= a_user.id %>">
              <button>Follow</button>
            </form>
          <% end %>
        <% end %>
      </td>

      <td>
        <a href="/users/<%= a_user.id %>">Show details</a>
      </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
