<div>
  <div>
    <h1>
      <%= @the_user.username %> 
    </h1>

    <dl>  
      <dt>Bio</dt>
      <dd><%= @the_user.bio %></dd>

      <dt>Followers</dt>
      <dd><%= @the_user.followers.count %>
        <div>
          <% if current_user != @the_user %>
            <% follow = FollowRequest.find_by(sender_id: current_user.id, recipient_id: @the_user.id) %>

              <% if follow.present? %>
                <form action="/follow_requests/<%= follow.id %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="redirect_to" value="/users/<%= @the_user.id %>">
                  <button>Unfollow</button>
                </form>
              <% else %>
                <form action="/insert_follow_request" method="post">
                  <input type="hidden" name="query_sender_id" value="<%= current_user.id %>">
                  <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">
                  <input type="hidden" name="redirect_to" value="/users/<%= @the_user.id %>">
                  <button>Follow</button>
                </form>
              <% end %>
            <% end %>
        </div>
      </dd>

      <dt>Following</dt>
      <dd><%= @the_user.leaders.count %></dd>
    </dl>
  </div>
</div>



  <nav>
    <ul>
      <li>
        <a href="/users/<%= @the_user.username %>/liked_cocktails">Liked coctails</a>
      </li>
      <% if current_user == @the_user%>
        <li>
          <a href="/users/<%= current_user.username %>/feed">Feed</a>
        </li>
        <li>
          <a href="/users/<%= current_user.username %>/popular_picks">Popular Picks</a>
        </li>
      <% end %>
    </ul>
  </nav>



<h2>Created cocktails</h2>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Cocktail name
        </th>

        <th>
          Image
        </th>

        <th>
          Description
        </th>

        <th>
          Instructions
        </th>

        <th>
          Abv
        </th>

        <th>
          Taste
        </th>

        <th>
          Created at
        </th>

        <th>
          Likes
        </th>

        <th>
        </th>
      </tr>

      <% @the_user.cocktails.each do |a_cocktail| %>
      <tr>
        <td>
          <%= a_cocktail.cocktail_name %>
        </td>
        
        <td>
          <img src="<%= a_cocktail.image_url.url %>" width="200" height="300">
        </td>

        <td>
          <%= a_cocktail.description %>
        </td>

        <td>
          <%= a_cocktail.instructions %>
        </td>

        <td>
          <%= a_cocktail.abv %>
        </td>

        <td>
          <%= a_cocktail.taste %>
        </td>

        <td>
          <%= time_ago_in_words(a_cocktail.created_at) %> ago
        </td>


        <td>
          <%= a_cocktail.likes.count %>
        </td>

        <td>
          <a href="/cocktails/<%= a_cocktail.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
