<div>
  <div>
    <h2>
      Add a new ingredient
    </h2>

    <form action="/insert_ingredient" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>
        <textarea id="description_box" type="text" name="query_description" cols="20" rows="3"></textarea>
      </div>

      <div>
        <label for="abv_box">
          Abv
        </label>

        <input type="text" id="abv_box" name="query_abv">
      </div>

      <div>
        <label for="ingredient_cat">Category</label>
        <select id="ingredient_cat" name="query_ingredient_category_id">
          <% IngredientCategory.all.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </div>

      <button>
        Create ingredient
      </button>
    </form>
  </div>
</div>

<hr>


<div>
  <div>
    <h1>
      Ingredient Library
    </h1>
  </div>
</div>


<% IngredientCategory.order(:name).each do |category| %>
  <h2><%= category.name %></h2>

  <% ingredients = @list_of_ingredients.select { |i| i.ingredient_category_id == category.id } %>

  <% if ingredients.any? %>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Abv</th>
      </tr>

      <% ingredients.each do |an_ingredient| %>
        <tr>
          <td><%= an_ingredient.name %></td>
          <td><%= an_ingredient.description %></td>
          <td><%= an_ingredient.abv %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>No ingredients in this category.</p>
  <% end %>

  <hr>
<% end %>
