<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <style>
  body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 20px;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  img {
    border-radius: 8px;
    margin-bottom: 1em;
  }


  button {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
  }

  button:hover {
    background-color: #007bff;
    color: white;
  }

  a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }
</style>

  <body>
    <nav>
    <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <% if current_user.present? %>
      <li>
        <a href="/users/sign_out">Sign out</a>
      </li>
      
      <li>
        <a href="/users/edit">Edit profile</a>
      </li>
    <% else %>
      <li>
        <a href="/users/sign_up">Sign up</a>
      </li>

      <li>
        <a href="/users/sign_in">Sign in</a>
      </li>
    <% end %>
    </ul>

    </nav>

    <hr>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>
      

    <%= yield %>





  </body>
</html>
