<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
    <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <% if current_user.present? %>
      <li>
        <a href="/users/sign_out">Sign out</a>
      </li>
      
      <li>
        <a href="/users/edit">Edit profile</a>
      </li>
    <% else %>
      <li>
        <a href="/users/sign_up">Sign up</a>
      </li>

      <li>
        <a href="/users/sign_in">Sign in</a>
      </li>
    <% end %>
    </ul>

    </nav>

    <hr>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>
      

    <%= yield %>





  </body>
</html>
